@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(254 226 226)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5BBBBB;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #489494;
}
.react-chatbot-kit-chat-btn-send-icon {
margin:auto
}
.grecaptcha-badge { 
  opacity: 0;
  left:0
}
#bmc-wbtn{
  width: 56px !important;
  height: 56px !important;
  border-radius: 50% !important;
  background-color: rgb(239 68 68) !important;
}
#bmc-wbtn:hover{
  background-color: rgb(248 113 113) !important;
}
